/* Estilo para el video de fondo (solo en web) */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Contenedor principal transparente para mostrar el video */
.main {
  background-color: transparent;
  padding: 10px;
  height: 100%;
  width: 100%;
}

/* Estilos del Toolbar */
.toolbar_container {
  color: white;
  margin: 0 auto;
  align-content: center;
  // padding: 1em;
  max-width: 97%;
  margin-top: 7vh;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.665);

  ion-segment-button {
    --color: rgb(33, 182, 250);
    --color-checked: rgb(44, 215, 246);

    &:hover {
      background-color: rgba(33, 150, 243, 0.3);
      color: aqua;
    }

    &.segment-button-checked {
      background-color: rgba(33, 150, 243, 0.5);
      color: aqua;
    }
  }
}

.bi-images {
  color: white;
  width: 3em;
  height: 2em;
}

/* Posicionamiento del botón principal (FAB) */
ion-fab {
  margin: 0 auto;
  align-content: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  ion-fab-button {
    width: 80px;
    height: 80px;
    --background: linear-gradient(to bottom, #2CD7F6, #0066CC);
    --background-activated: linear-gradient(to bottom, #0066CC, #2CD7F6);

    &:hover {
      --background: linear-gradient(to bottom, #2CD7F6, #0077DD);
    }
  }
}

/* Estilos del icono de escaneo */
.bi-upc-scan {
  width: 3rem;
  color: rgb(255, 255, 255);
}

/* Oculta el input de archivos */
#fileInput {
  display: none !important;
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.custom-modal {
    margin-top: 95px;
    margin-bottom: 230px;
  --min-width: 200px;
  --min-height: 400px;
  --background: #f8f8f8;
  border-radius: 10px;
}

/* Ajustes responsive */
@media screen and (max-width: 768px) {
  .toolbar_container {
    max-width: 95%;
    margin-top: 3vh;
  }
}
