<div class="main">
  <div class="galeria-segment">
    <ion-segment class="custom" value="historial">
      <ion-segment-button class="button-custom" value="historial" content-id="historial">
        <ion-label>Historial</ion-label>
      </ion-segment-button>
      <ion-segment-button class="button-custom" value="categorias" content-id="categorias">
        <ion-label>Mis categorías</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Vistas -->
    <ion-segment-view>
      <!-- Historial -->
      <ion-segment-content id="historial">
        aqui van tus cosas ivan
      </ion-segment-content>

      <!-- Mis categorías -->
      <ion-segment-content id="categorias">
        <!-- Buscador -->
        <ion-searchbar 
          show-clear-button="focus" 
          class="bar-custom"
          placeholder="Buscar una categoría específica...">
        </ion-searchbar>

        <!-- Botón para abrir modal -->
        <div class="button-container">
          <ion-button (click)="openModal()">Crear Categoría</ion-button>
        </div>

        <!-- Acordiones -->
        <div class="accordion-container">
          <ion-accordion-group>
            <ion-accordion 
              *ngFor="let categoria of categorias" 
              [value]="categoria.value" 
              toggleIconSlot="start">
              
              <ion-item slot="header" class="flex items-center justify-between">
                <ion-label>{{categoria.label}}</ion-label>
                
                <!-- Botón de eliminar -->
                <ion-button 
                  fill="clear" 
                  color="danger" 
                  (click)="eliminarCategoria(categoria)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item>
              
              <div class="ion-padding" slot="content">
                {{categoria.content}}
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-segment-content>
    </ion-segment-view>
  </div>
</div>

<!-- Modal para crear categoría -->
<ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Crear Nueva Categoría</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Cancelar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-label position='floating'>Nombre de la nueva categoría</ion-label>
        <ion-input [(ngModel)]="nuevaCategoria"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="crearCategoria()">Crear</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>