.profile-container {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.back-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo-container {
  position: relative;
  margin-bottom: 20px;
  /* Ícono estático, sin edición */
  svg {
    width: 150px;
    height: 150px;
  }
}

.profile-details {
  width: 100%;
  text-align: center;

  h1 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    margin-top: 30px;
  }

  h2 {
    margin: 0;
    font-size: 26px;
    color: #333;
    margin-top: 12px;
    font-weight: bold;
  }

  h3 {
    margin: 5px 0 20px;
    font-size: 14px;
    color: #666;
    margin-top: 12px;
  }

  .input-wrapper {
    position: relative;
    margin-bottom: 15px;

    .icon-wrapper {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #4285F4;
    }

    input {
      width: 100%;
      padding: 10px 10px 10px 40px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f8f9fa;
      font-size: 16px;
    }
  }

  .error-message {
    color: red;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
  }

  .save-button, .logout-button {
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .save-button {
    background-color: #34A853;
  }

  .logout-button {
    background-color: #4285F4;
  }
}
