:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
}

.contenidoCentrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  overflow-y: auto;
  width: 100%;
}

.frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 400px;

  .group {
    width: 100%;
    min-height: 68px;

    .text-wrapper {
      font-family: 'Poppins-SemiBold', Helvetica;
      font-weight: 600;
      color: #262422;
      font-size: 14px;
      letter-spacing: 0.03px;
      line-height: 16.8px;
    }

    .div {
      display: flex;
      width: 100%;
      min-height: 39px;
      align-items: center;
      gap: 12px;
      padding: 15px 16px;
      background-color: #ffffff;
      border-radius: 12px;
      border: 1px solid #5f6368;

      ion-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-button {
  --background: #1d61e7;
  --border-radius: 10px;
  --padding: 10px 20px;
  --color: white;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 20px;

  &:hover {
    --background: #5b8cef;
  }
}

input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #262422;
}



.username-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  h3 {
    margin: 0;
  }
}

.edit-icon {
  font-size: 24px;
  color: #1d61e7;
  cursor: pointer;
  transition: color 0.3s;
  
  &:hover {
    color: #5b8cef;
  }
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  
  .custom-button {
    flex: 1;
    max-width: 200px;
    
    &.cancel-button {
      --background: #5f6368;
    }
  }
}

.logout-button {
  margin-top: 30px;
  --background: #d32f2f;
  
  &:hover {
    --background: #f44336;
  }
}


.custom-datetime {
  width: 100%;
  padding: 0;
  
  .datetime-text {
    font-size: 16px;
    color: #262422;
  }
}

/* Estilo para el modal del datepicker */
ion-modal.datetime-modal {
  --width: 100%;
  --max-width: 400px;
  --height: 50%;
  --border-radius: 16px;
  
  ion-datetime {
    height: 100%;
  }
}